:root {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
}

html {
    background-color: #0F0E47;
    height: 100vh;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0F0E47;
    border-radius: 20px;
}

h1, h2 {
    text-align: center;
    margin: 20px 0;
}

/* in auth.html */
form {
    height: 60vh;
    width: 80vw;
    padding: clamp(5px, 5%, 30px);
    background-color: #505081;
    border-radius: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

select {
    appearance: none;
    cursor: pointer;
}

form input, select {
    width: clamp(40px, 80%, 400px);
    height: 10%;
    border: 2px solid #272757;
    border-radius: 10px;
    background-color: #8686AC;
    
    font-size: 0.8rem;
    text-indent: 5px;
}

form input, form input::placeholder, select {
    color: white;
}

button {
    font-size: 1rem;
    padding: clamp(2px, 2%, 20px);
    border-radius: 20px;
    color: white;
    background-color: #8686AC;
    border: 2px solid #0F0E47;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

button:hover {
    color: black;
    background-color: white;
}

/* #region: change-form-p */

#change-form {
    color: purple;
    cursor: pointer;
}

#change-form:hover {
    color: blue;
}

#change-form:active {
    color: white;
}

/* #endregion */

#register-form {
    display: none;
}