html {
    scrollbar-gutter: stable;
}

body {
    margin: 0;
}

main {
    position: relative;
    padding: 5%;
    border: none;
    transition: filter 0.3s ease;
}

.blurred {
    filter: blur(5px);
}

#open-timer {
    position: absolute;
    top: 0;
    left: 0;
}

#logout {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1%;
}

/* #region: timer */
#timer { /* might need to modify this */
    display: none;
    position: absolute;
    z-index: 3;
    inset: 0;
    margin: auto auto;
    height: fit-content;
    max-height: 80vh;
    width: clamp(280px, 60%, 700px);
    max-width: 80vh;
    overflow-y: auto;
    overflow-x: hidden;

    flex-direction: column;
    align-items: center;
    gap: 20px;

    background-color: #505081;
    border-radius: 20px;
    padding: 40px 20px;
    border: 5px solid black;
}

#timer-options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
    width: clamp(20px, 80%, 300px);
}

#select-minutes {
    appearance: none;
    cursor: pointer;
    text-align: center;
    flex-grow: 1;
    height: auto;
    border-radius: 20px;
}

svg {
    position: relative;
    width: clamp(40px, 60%, 450px);
}

#progress-bar {
    transition: stroke-dashoffset 1s linear;
    transform: rotate(-90deg);
    transform-origin: 50px 50px;
}

#clock-text {
    font-size: 1.2rem;
    text-anchor: middle;
    dominant-baseline: central;
    font-size: 25px;
    fill: white;
}

#volume-changer-container {
    position: absolute;
    right: 20px;
    bottom: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: height 0.3s ease;
}

#volume-changer-container:hover #volume-changer {
    height: 100px;
    opacity: 1;
}

#volume-changer {
    writing-mode: vertical-lr;
    direction: rtl;
    height: 0;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;

    transition: height 0.3s ease, opacity 0.3s ease;
}

#volume-icon-container {
    width: clamp(5px, 5vw, 30px);
}

#volume-icon-container img {
    object-fit: contain;
    width: 100%;
}

/* #endregion */

#filter {
    width: clamp(40px, 80vw, 400px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

#filter button {
    background-color: transparent;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#filter button:not(.selected) {
    border: none;
}

#filter button:hover:not(.selected) {
    background-color: aliceblue;
    color: black;
}

.selected {
    cursor: default;
    border-bottom: white 5px solid;
    border-radius: 0;
}


#guitar-exercises {
    width: 95%;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    align-items: center;
}

.exercise {
    background-color: #505081;
    padding: 5%;
    border-radius: 20px;
    width: 80%;
    max-width: 500px;
    position: relative;

    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

.exercise * {
    margin: 0;
}

.options {
    position: absolute;
    top: 8%;
    right: 3%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(8px, 1vw, 16px);
}



.delete-exercise-btn img, .edit-exercise-btn img {
    width: clamp(20px, 1vw, 40px);
    height: clamp(20px, 1vw, 40px);
    display: block;
}

.edit-exercise-btn, .delete-exercise-btn {
    padding: 5px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-exercise-btn:hover {
    cursor: pointer;
    background-color: white;
}

.exercise-title {
    font-size: 1.4rem;
}

.complete-exercise-btn {
    grid-row: 1/-1;
    grid-column: 2;
    max-width: 100px;
    height: clamp(20px, 70%, 90px);
}

.completed > *:not(button) {
    color: lightgray;
    text-decoration: line-through;
}


#exercise-adder-form {
    display: none;
    position: absolute;
    top: clamp(10px, 10%, 80px);
    margin: auto;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#exercise-adder-form h2 {
    align-self: center;
    margin-top: 10px;
}

#close-form, #close-timer {
    position: absolute;
    top: 0;
    right: 0;
}

#close-timer {
    border-radius: 0 0 0 20px;
    border: none;
}

#not-logged-in[open] {
    background-color: #505081;
    color: white;
    border: 5px solid black;
    width: 60vw;
    max-width: 400px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#not-logged-in p {
    font-weight: bold;
}

#not-logged-in button {
    width: 40%;
}